@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';

$font-primary: 'Poppins',Arial, sans-serif;
$font-secondary: 'Josefin Sans',Arial, sans-serif;
$font-tertiary: 'Nothing You Could Do', cursive;

$white: #fff;
$black: #000;
$darken: #121618;

$primary: #fac564;
$secondary: #f8b500;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}

html {
	// overflow-x: hidden;
}
body {
	font-family: $font-primary;
	background: $darken;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 300;
	color: lighten($black,50%);
	background: url(../images/bg_4.jpg) no-repeat fixed;
	background-size: cover;
	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}
span{
	color: lighten($black,75%);
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:active, &:focus {
		color: $primary;
		outline: none !important;
		text-decoration: none !important;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.4;
	color: $white;
	font-weight: 400;
	font-family: $font-secondary;
}

.text-primary {
	color: $primary!important;
}

.ftco-navbar-light {
	background: $darken!important;
	z-index: 3;
	@include media-breakpoint-down(md) {
		background: $black!important;
		position: relative;
	}
	.navbar-brand {
		color: $white;
		font-family: $font-secondary;
		@include media-breakpoint-up(md){
			color: $white;
		}
	}
	
	.navbar-nav {
		> .nav-item {
			> .nav-link {
				font-size: 14px;
				padding-top: .9rem;
				padding-bottom: .9rem;
				padding-left: 0;
				padding-right: 0;
				color: rgba(255,255,255,.9);
				font-weight: 400;
				@include media-breakpoint-up(md){
					padding-top: 1.5rem;
					padding-bottom: 1.5rem;
					padding-left: 20px;
					padding-right: 20px;
					color: rgba(255,255,255,.7);
				}
				&:hover {
					color: $primary;
				}
				opacity: 1!important;
			}

			.dropdown-menu{
				border: none;
				background: $white;
				-webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				-moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
			}

			
			&.ftco-seperator {
				position: relative;
				margin-left: 20px;
				padding-left: 20px;
				@include media-breakpoint-down(md) {
					padding-left: 0;
					margin-left: 0;
				}
				&:before {
					position: absolute;
					content: "";
					top: 10px;
					bottom: 10px;
					left: 0;
					width: 2px;
					background: rgba($white, .05);
					@include media-breakpoint-down(md) {
						display: none;
					}
				}
			}
			&.cta {
				@include media-breakpoint-down(sm){
					margin-bottom: 20px;
				}
				> a {
					color: $white;
					border: 1px solid $primary;
					background: $primary;
					padding-top: .5rem;
					padding-bottom: .5rem;
					padding-left: 20px;
					padding-right: 20px;
					margin-top: 4px;
					@include border-radius(30px);
					span {
						display: inline-block;
						color: $white;
					}
					&:hover{
						background: $primary;
						border: 1px solid $primary;
					}
				}
				&.cta-colored {
					span {
						border-color: $primary;
					}
				}
			}
			&.active {
				> a {
					color: $primary;
				}
			}
		}
	}
	.navbar-toggler {
		border: none;
		color: rgba(255,255,255,.8)!important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
	}
	
	&.scrolled  {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		margin-top: -130px;
		background: $darken!important;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		.nav-item {
			> .nav-link {
				color: $white !important;
			}
			&.active {
				> a {
					color: $primary!important;
				}
			}
			&.cta {
				> a {
					color: $white !important;
					background: $primary;
					border: none !important;
					padding-top: .5rem!important;
					padding-bottom: .5rem !important;
					padding-left: 20px;
					padding-right: 20px;
					margin-top: 6px !important;
					@include border-radius(30px);
					span {
						display: inline-block;
						color: $white !important;
					}
				}
				&.cta-colored {
					span {
						border-color: $primary;
					}
				}
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(md) {
				background: none;
				border-radius: 0px;
				padding-left: 0rem!important;
				padding-right: 0rem!important;
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(sm) {
				background: none;
				padding-left: 0!important;
				padding-right: 0!important;
			}
		}

		.navbar-toggler {
			border: none;
			color: rgba(255,255,255,.8)!important;
			border-color: rgba(0,0,0,.5)!important;
			cursor: pointer;
			padding-right: 0;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: .1em;
		}
		.nav-link {
			padding-top: .9rem!important;
			padding-bottom: .9rem!important;
			color: $black!important;
			&.active {
				color: $primary!important;
			}
		}
		&.awake {
			margin-top: 0px;
			transition: .3s all ease-out;
		}
		&.sleep {
			transition: .3s all ease-out;	
		}

		.navbar-brand {
			color: $white;
		}
	}
}

.navbar-brand {
	font-size: 24px;
	line-height: 1;
	span{
		font-size: 24px;
		color: $primary;
	}
	small{
		text-transform: uppercase;
		font-size: 11px;
		display: block;
		text-align: center;
		color: $primary;
		letter-spacing: 4px;
	}
}


//OWL CAROUSEL
.owl-carousel {
	position: relative;
	.owl-item {
		opacity: .4;
		&.active {
			opacity: 1;
		}
	}
	
	.owl-nav {
		position: absolute;
		top: 50%;
		width: 100%;
		.owl-prev,
		.owl-next {
			position: absolute;
			transform: translateY(-50%);
			margin-top: -10px;
			color: $primary !important;
			@include transition(.7s);
			span {
				&:before {
					font-size: 30px;
				}
			}
			opacity: 0;
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	&:hover{
		.owl-nav{
			.owl-prev,
			.owl-next{
				opacity: 1;
			}
			.owl-prev {
				left: -25px;
			}
			.owl-next {
				right: -25px;
			}
		}
	}
	&.home-slider {
		position: relative;
		height: 750px;
		z-index: 0;
		.slider-item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			height: 750px;
			position: relative;
			z-index: 0;
			.overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: $black;
				opacity: .5;
			}
			.slider-text {
				color: $white;
				height: 750px;
				text-align: right;
				@include media-breakpoint-up(lg){
					.order-md-last{
						text-align: left !important;
					}
				}
				@include media-breakpoint-down(sm){
					text-align: center;
				}
				.subheading{
					font-family: $font-tertiary;
					font-size: 30px;
					color: $primary;
				}
				h1 {
					// font-family: $font-secondary;
					text-transform: uppercase;
					font-size: 40px;
					color: $white;
					line-height: 1.5;
					font-weight: normal;
					// font-family: $font-secondary;
					letter-spacing: 1px;
					strong{
						color: $white;
						font-family: $font-secondary;
						font-size: 50px;
						// text-transform: uppercase;
					}
					@include media-breakpoint-down(md) {
						font-size: 30px;
					}
				}
				p {
					font-size: 18px;
					line-height: 1.5;
					font-weight: 300;
					color: rgba(255,255,255,1);
					&.sub-p{
						font-weight: 400;
					}
					strong{
						font-weight: 700;
						a{
							color: $white;
						}
					}
				}
				.unstyled-list{
					width: 50%;
					padding: 0;
					li{
						list-style: none;
						span{
						}
					}
				}
				//BREADCRUBS
				.breadcrumbs{
					text-transform: uppercase;
					font-size: 13px;
					letter-spacing: 1px;
					span{
						border-bottom: 2px solid rgba(255,255,255,.1);
						a{
							color: $white;
						}
					}
				}
			}
			&.bread-item{
				height: 500px !important;
				@include media-breakpoint-down(lg){
					background-position: center center !important;
				}
				.slider-text {
					height: 500px;
				}
			}
		}
		.owl-nav {
			.owl-prev,
			.owl-next {
				span {
					color: $white;
				}
			}
		}
		&:hover{
			.owl-nav{
				.owl-prev,
				.owl-next{
					opacity: 1;
				}
				.owl-prev {
					left: 20px;
				}
				.owl-next {
					right: 20px;
				}
			}
		}
		.owl-dots {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 40px;
			width: 100%;
			text-align: center;
			@include media-breakpoint-down(sm){
				bottom: 5px;
			}
			.owl-dot {
				width: 18px !important;
				height: 18px !important;
				margin: 5px;
				border-radius: 50%;
				background: lighten($black, 90%);
				background: none;
				border: 2px solid rgba(255,255,255,.5);
				outline: none!important;
				position: relative;
				transition: .3s all ease;
				display: inline-block;
				span {
					position: absolute;
					width: 12px;
					height: 12px;
					background: rgba(255,255,255,.5 );
					border-radius: 50%!important;
					left: 50%;
					top: 50%;
					display: block;
					transform: translate(-50%, -50%);
				}	
				&.active {
					border: 2px solid rgba(255,255,255,1);
					span {	
						background: rgba(255,255,255,1);
					}	
				}
			}
		}
	}
}
.owl-custom-nav {
	float: right;
	position: relative;
	z-index: 10;
	.owl-custom-prev,
	.owl-custom-next {
		padding: 10px;
		font-size: 30px;
		background: #ccc;
		line-height: 0;
		width: 60px;
		text-align: center;
		display: inline-block;
	}
} 


.bg-light {
	background: lighten($black,98%)!important;
}

.bg-primary{
	background: $primary;
}


//BUTTON
.btn {
	cursor: pointer;
	@include border-radius(0);
	box-shadow: none!important;
	font-size: 13px;
	&:hover, &:active, &:focus {
		outline: none;
	}
	&.btn-primary {
		background: lighten($primary,0);
		border: 1px solid lighten($primary,0);
		color: $black;
		&:hover {
			border: 1px solid $primary;
			background: transparent !important;
			color :$primary;
		}
		&.btn-outline-primary {
			border: 1px solid $primary;
			background: transparent;
			color :$primary;
			&:hover {
				border: 1px solid transparent;
				background: $primary;
				color :$white;
			}
		}
	}
	&.btn-white {
		background: $white;
		border: 1px solid $white;
		color: $black;
		&:hover {
			border: 1px solid $black;
			background: $black;
			color :$white;
		}
		&.btn-outline-white {
			border-color: rgba($white, .8);
			background: none;
			border-width: 1px;
			color: $white;
			&:hover, &:focus, &:active {
				background: $primary;
				border-color: $primary;
				color: $black;
			}
		}
	}
	&.btn-outline-black {
		border-color: rgba($black, 1);
		background: none;
		border-width: 1px;
		color: $black;
		&:hover, &:focus, &:active {
			background: $black;
			border-color: $black;
			color: $white;
		}
	}
}


//INTRO
.ftco-intro{
	.wrap{
		width: 100%;
		.info{
			background: $black;
			padding: 30px;
			@include media-breakpoint-up(xl){
				width: calc(100% - 35%);
				padding: 2% 5% 2% 12%;
			}
			@include media-breakpoint-down(sm){
				width: 100%;
			}
			p{
				margin-bottom: 0;
			}
		}
		.social{
			width: 35%;
			background: $primary;
			@include media-breakpoint-down(sm){
				width: 100%;
			}
			.social-icon{
				margin: 0;
				padding: 0;
				li{
					list-style: none;
					display: inline-block;
					line-height: 0;
					padding: 0 10px;
					a{
						display: block;
						margin: 0;
						padding: 0;
						span{
							color: $white;
							font-size: 20px;
						}
					}
				}
			}
		}
		h3{
			font-size: 16px;
		}
		.text{
			width: calc(100% - 40px);
		}
		.icon{
			width: 40px;
			span{
				color: $primary;
				font-size: 20px;
			}
		}
	}
}



//ABOUT
.ftco-about{
	.one-half{
		width: 100%;
		padding: 30px 15px;
		@include media-breakpoint-up(md){
			padding: 5%;
			width: 50%;
		}
		&.img{
			display: block;
			@include media-breakpoint-down(sm){
				height: 300px;
			}
		}
	}
}

//SERVICES
.ftco-services{
	background: url(../images/food.png) repeat;
	color: darken($primary,50%);
	.overlay{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: '';
		background: $primary;
		opacity: 0;
	}
	.heading-section{
		h2{
			color: darken($primary,70%);
		}
	}
}
.services{
	.icon{
		width: 100px;
		height: 100px;
		margin: 0 auto;
		position: relative;
		z-index: 0;
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			bordeR: 1px solid darken($primary,30%);
			z-index: -1;
			@include transition(.3s);
		}
		span{
			font-size: 60px;
			color: darken($primary,50%);
			z-index: 1;
		}
	}
	h3{
		font-size: 18px;
		margin-bottom: 20px;
		color: darken($primary,70%);
		text-transform: uppercase;
	}
	.media-body{
		color: darken($primary,50%);
	}
	&:hover{
		.icon{
			span{
				// color: darken($primary,90%);
				color: $white;
			}
			&:after{
				border: none;
				transform: rotate(135deg);
				background: $secondary;
			}
		}
	}
}

.services-wrap{
	width: 100%;
	display: block;
	@include media-breakpoint-down(md){
		margin-bottom: 30px;
	}
	.img,.text{
		width: 50%;
	}
	.img{
		display: block;
	}
	.text{
		background: rgba(0,0,0,.2);
		position: relative;
		h3{
			font-size: 20px;
		}
		.price{
			font-size: 16px;
			margin-bottom: 0;
			span{
				color: $primary;
			}
		}
	}
}


//GALLERY
.ftco-gallery{
	padding-top: 7em;
}
.gallery{
	display: block;
	height: 300px;
	position: relative;
	.icon{
		width: 50px;
		height: 50px;
		margin: 0 auto;
		z-index: 0;
		opacity: 0;
		position: relative;
		@include transition(.6s);
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 50px;
			height: 50px;
			content: '';
			background: $primary;
			z-index: -1;
			@include transition(.6s);
		}
		span{
			color: $white;
		}
	}
	&:hover, &:focus{
		.icon{
			opacity: 1;
			&:after{
				transform: rotate(135deg);
			}
		}
	}	
}

//PRICING
.pricing-entry{
	width: 100%;
	display: block;
	margin-bottom: 30px;
	.img{
		width: 60px;
		height: 60px;
		@include border-radius(50%);
	}
	.desc{
		width: calc(100% - 60px);
		p{
			margin-bottom: 0;
		}
	}
	.text{
		width: 100%;
		display: block;
		position: relative;
		z-index: 0;
		&:after{
			position: absolute;
			bottom: 35%;
			left: 0;
			right: 0;
			content: '';
			width: 100%;
			height: 1px;
			border-bottom: 1px dashed darken($primary,30%);
			z-index: -1;
		}
		h3{
			width: calc(100% - 80px;);
			font-size: 18px;
			span{
				background: $darken;
				background: url(../images/bg_4.jpg) no-repeat fixed;
				padding-right: 20px;
			}
		}
		.price{
			width: 80px;
			color: $primary;
			text-align: right;
			background: $darken;
			background: url(../images/bg_4.jpg) no-repeat fixed;
			font-size: 16px;
		}
	}
}

//MENU
.ftco-menu{
	.f-menu-img{
		@include media-breakpoint-down(md){
			height: 300px;
		}
	}
}
.menu-wrap{
	.menu-img{
		display: block;
		width: 200px;
		height: 200px;
		margin: 0 auto;
		@include border-radius(50%);
	}
	.text{
		h3{
			font-size: 22px;
			a{
				color: $white;
			}
		}
		.price{
			font-size: 16px;
			font-weight: 400;
			span{
				color: $primary;
			}
		}
	}
}

//APPOINTMENT
.ftco-appointment{
	width: 100%;
	position: left;
	background: $black;
	.overlay{
		position: left;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $primary;
		opacity: 0;
	}
}

.appointment{
	padding: 20px !important;
	@include media-breakpoint-up(md){
		padding: 7% 12% 7% 5% !important;
	}
	h3{
		color: $white;
	}
}
.appointment-form{
	.form-group{
		position:e relativ;
		width: 100%;
		display: block;
		.icon {
			position: absolute;
			top: 50% !important;
			right: 0;
			font-size: 14px;
			transform: translateY(-50%);
			span{
				color: rgba(255,255,255,1) !important;
			}
		}
		.select-wrap, .input-wrap {
			position: relative;
			select {
				appearance: none;
			}
		}
	}
	.form-control {
		border: transparent !important;
		border-bottom: 1px solid rgba(255,255,255,.2) !important;
		height: 58px!important;
		padding-left: 0;
		padding-right: 0; 
		background: transparent!important;
		color: rgba(255,255,255,.9)!important;
		font-size: 13px;
		border-radius: 0px;
		box-shadow: none!important;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgba(255,255,255,.9);
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: rgba(255,255,255,.9);
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: rgba(255,255,255,.9);
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: rgba(255,255,255,.9);
		}
		&:focus, &:active {
			border-color: $white;
		}
	}
	textarea.form-control {
		height: inherit!important;
	}
}

//STAFF
.staff{
	padding: 25px;
	bordeR: 1px solid darken($primary,50%);
	@include border-radius(4px);
	@include transition(.3s);
	@include media-breakpoint-down(sm){
		margin-bottom: 30px;
	}
	.info{
		width: 100%;
		h3{
			font-size: 15px;
			text-transform: uppercase;
			a{
				color: $primary;
			}
		}
		span.position{
			display: block;
			margin-bottom: 15px;
			font-size: 12px;
			font-weight: 400;
			color: lighten($black,80%);
		}
	}
	.img{
		width: 140px;
		height: 140px;
		border: 1px solid darken($primary,40%);
		margin: 0 auto;
		@include border-radius(50%);
		@include transition(.3s);
	}
	.text{
		p{
		}
	}
	&:hover, &:focus{
		-webkit-box-shadow: 0px 3px 66px -24px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 3px 66px -24px rgba(0,0,0,0.2);
		box-shadow: 0px 3px 66px -24px rgba(0,0,0,0.2);
		border: 1px solid $primary;
		.img{
			border: 1px solid $primary;
		}
	}
}


.ftco-social{
	a{
		width: 30px;
		height: 30px;
		display: inline-block;
		margin-right: 2px;
		background: lighten($primary,40%);
		@include border-radius(50%);
		span{
			color: $primary;
		}
	}
}




// USEFUL CODE
.form-control {
	height: 58px!important;
	background: transparent!important;
	color: rgba(255,255,255,.9) !important;
	font-size: 18px;
	border-radius: 0px;
	box-shadow: none!important;
	border: transparent !important;
	border-bottom: 1px solid rgba(255,255,255,.08) !important;
	padding-right: 0;
	padding-left: 0;
	&:focus, &:active {
		border-color: $primary;
	}
}
textarea.form-control {
	height: inherit!important;
}
.ftco-vh-100 {
  height: 100vh;
  @include media-breakpoint-down(lg) {
  	height: inherit;
  	padding-top: 5em;
  	padding-bottom: 5em;
  }
}
.ftco-vh-75 {
  height: 75vh;
  min-height: 700px;
  @include media-breakpoint-down(lg) {
  	min-height: 700px;
  	height: inherit;
  	padding-top: 5em;
  	padding-bottom: 5em;
  }
}


.ftco-tab-nav {
	padding: 0;
	margin: 0;
	display: inline-block!important;
	@include media-breakpoint-down(sm) {
		display: block!important;
		margin-bottom: 10px;
		width: 100%!important;
	}
	li {
		padding: 0;
		margin: 0 5px;
		display: inline-block!important;
		@include media-breakpoint-down(sm) {
			display: block!important;
			margin-bottom: 10px;
			width: 100%!important;
		}
		a {
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: .2em;
			color: #ccc;
			border: 2px solid #ccc;
			border-radius: 0!important;
			&.active {
				background: none!important;
				color: darken(#ccc, 100%)!important;
				border: 2px solid $black;
			}
		}
		
	}
}

.ftco-animate {
	opacity: 0;
	visibility: hidden;
}

.bg-primary {
	background: $primary!important;
}
.ftco-section {
	.ftco-sub-title {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: .5em;
		color: lighten(#ccc, 3%);
		font-family: $font-family-sans-serif;
		font-weight: 300;
	}
	.ftco-primary-title {
		margin-top: 0;
		margin-bottom: 30px;
	}
}



//ABOUT
.about-author{
	img{
	}
	.desc{
		h3{
			font-size: 24px;
		}
	}
	.bio{

	}
}


.ftco-section {
	padding: 7em 0;
	position: relative;
	@include media-breakpoint-down(sm){
		padding: 6em 0;
	}
}

.ftco-bg-dark {
	background: $black;
}


.ftco-footer {
	font-size: 16px;
	padding: 7em 0;
	background: darken($darken,1%);
	.ftco-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.ftco-footer-widget {
		h2 {
			font-weight: normal;
			color: $white;
			margin-bottom: 40px;
			font-size: 16px;
			font-weight: 400;
			position: relative;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		ul{
			li{
				a{
					span{
						color: $white;
					}
				}
			}
		}
		.btn-primary{
			background: $white !important;
			border: 2px solid $white !important;
			&:hover{
				background: $white;
				border: 2px solid $white !important;
			}
		}
	}
	p {
		color: rgba($white, .7);
	}
	a {
		color: rgba($white, .7);
		&:hover {
			color: $white;
		}
	}
	.ftco-heading-2 {
		font-size: 17px;
		font-weight: 400;
		color: $black;
	}
	.block-21 {
		.text {
			.heading {
				font-size: 16px;
				font-weight: 300;
				a {
					color: rgba(255,255,255,.9);
					&:hover, &:active, &:focus {
						color: $primary;
					}
				}
			}
			.meta {
				> div {
					display: inline-block;
					font-size: 12px;
					margin-right: 5px;
					a {
						color: lighten($black, 50%);
					}
				}
			}
		}
	}
}


.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 50px;
			width: 50px;
			display: block;
			float: left;
			background: rgba($white, .05);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 26px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: $white;
			}
		}
	}
}

// Map

#map {
	// height: 500px;
	width: 100%;
	@include media-breakpoint-down(sm){
		height: 300px;
		margin-bottom: 30px;
	}
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($white, 0.2);
  }
  70% {
      -webkit-box-shadow: 0 0 0 30px rgba($white, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba($white, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($white, 0.2);
    box-shadow: 0 0 0 0 rgba($white, 0.2);
  }
  70% {
      -moz-box-shadow: 0 0 0 30px rgba($white, 0);
      box-shadow: 0 0 0 30px rgba($white, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba($white, 0);
      box-shadow: 0 0 0 0 rgba($white, 0);
  }
}

.heading-section{
	.subheading{
		font-size: 14px;
		display: block;
		margin-bottom: 10px;
	}
	h2{
		font-size: 30px;
		font-weight: 400;
		position: relative;
		text-transform: uppercase;
		@include media-breakpoint-down(sm){
			font-size: 28px;
		}
		span{
			color: $primary;
		}
	}
	p.flip{
		position: relative;
		display: block;
		width: 100%;
		&:after{
			position: absolute;
			bottom: 4px;
			left: -100px;
			right: 0;
			content: '';
			width: 40px;
			height: 1px;
			background: darken($primary,40%);
			margin: 0 auto;
		}
		&:before{
			position: absolute;
			bottom: 4px;
			left: 100px;
			right: 0;
			content: '';
			width: 40px;
			height: 1px;
			background: darken($primary,40%);
			margin: 0 auto;
		}
		span{
			position: absolute;
			&.deg1{
				position: absolute;
				bottom: 2px;
				left: -30px;
				right: 0;
				width: 6px;
				height: 6px;
				content: '';
				background: $primary;
				transform: rotate(135deg);
				margin: 0 auto;
			}
			&.deg2{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 10px;
				height: 10px;
				content: '';
				background: $primary;
				transform: rotate(135deg);
				margin: 0 auto;
			}
			&.deg3{
				position: absolute;
				bottom: 2px;
				left: 30px;
				right: 0;
				width: 6px;
				height: 6px;
				content: '';
				background: $primary;
				transform: rotate(135deg);
				margin: 0 auto;
			}	
		}	
	}
}
.heading-section-dark{
	h2{
		color: $black;
	}
	p.flip{
		position: relative;
		display: block;
		width: 100%;
		&:after{
			position: absolute;
			bottom: 4px;
			left: -100px;
			right: 0;
			content: '';
			width: 40px;
			height: 1px;
			background: darken($primary,0);
			margin: 0 auto;
		}
		&:before{
			position: absolute;
			bottom: 4px;
			left: 100px;
			right: 0;
			content: '';
			width: 40px;
			height: 1px;
			background: darken($primary,0);
			margin: 0 auto;
		}
	}
}

//COVER BG
.hero-wrap,
.img,
.blog-img,
.user-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


.img-about{
	@include media-breakpoint-down(sm){
		height: 400px;
		margin-bottom: 30px;
	}
}


// magnific pop up

.image-popup {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}




//COUNTER
#section-counter{
	position: relative;
	z-index: 0;
	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $black;
		opacity: .8;
	}
}

.ftco-counter {
	padding: 7em 0;
	@include media-breakpoint-down(lg){
		background-position: center center !important;
	}
	.icon{
		width: 80px;
		height: 80px;
		margin: 0 auto;
		position: relative;
		margin-bottom: 20px;
		z-index: 0;
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			bordeR: 1px solid $primary;
			z-index: -1;
			@include transition(.3s);
		}
		span{
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			color: $primary;
		}
	}
	.text{
		strong.number{
			font-weight: 400;
			font-size: 30px;
			color: $primary;
		}
		span{
			font-weight: 400;
			font-size: 14px;
			// color: rgba(0,0,0,.7);
		}
		&:hover, &:focus{
			.icon{
				span{
					color: $black;
				}
				&:after{
					transform: rotate(135deg);
					background: $primary;
				}
			}
		}
	}
	.counter-wrap{
		@include media-breakpoint-down(md){
			margin-bottom: 40px !important;
		}
	}
	.ftco-number {
		display: block;
		color: $white;
	}
	.ftco-label {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
}


.ftco-menu{
	position: relative;
	width: 100%;
	display: block;
	.nav-link-wrap{
	}
	.nav-pills{
		p{
			margin-bottom: 0;
		}
		.nav-link{
			border-radius: 0;
			margin-bottom: 0;
			color: $primary;
			font-size: 18px;
			font-weight: 400;
			position: relative;
			display: inline-block;
			bordeR: 1px solid $primary;
			margin-left: 5px;
			margin-right: 5px;
			&.active, &:hover{
				color: darken($primary, 70%);
				@include transition(.3s);
				background: $primary;
				border: 1px solid transparent;
				&:after{
					opacity: 1;
				}
				@include media-breakpoint-down(sm){
					&:after{
						opacity: 0;
					}
				}
			}
			@include media-breakpoint-down(sm){
				display: block;
				width: 100%;
				margin-bottom: 5px;
			}
		}
	}
	.tab-content{
		.tab-pane{
		}
	}
}

//blocks 
.block-20 {
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	display: block;
	width: 100%;
	height: 270px;
}
.blog-entry{
	overflow: hidden;
	@include media-breakpoint-up(md){
		margin-bottom: 30px;
	}
	@include media-breakpoint-down(sm){
		margin-bottom: 30px;
	}
	.text {
		position: relative;
		.heading {
			font-size: 18px;
			margin-bottom: 16px;
			font-weight: 400;
			a {
				color: $white;
				&:hover, &:focus, &:active {
					color: $primary;
				}
			}
		}
	}
	.meta {
		> div {
			display: inline-block;
			margin-right: 5px;
			margin-bottom: 0;
			font-size: 14px;
			a {
				color: lighten($black, 50%);
				font-size: 15px;
				&:hover {
					color: lighten($black, 40%);
				}
			}
		}
	}
}


.block-23 {
	ul {
		padding: 0;
		li {
			
			&, > a {
				display: table;
				line-height: 1.5;
				margin-bottom: 15px;
			}
			span{
				color: rgba($white, .7);
			}
			.icon, .text {
				display: table-cell;
				vertical-align: top;
			}
			.icon {
				width: 40px;
				font-size: 18px;
				padding-top: 2px;
				color: rgba($white, 1);
			}
			
		}
	}
}

.block-6 {
	margin-bottom: 40px;
	.icon {
		span {
			&:before {
			}
		}
	}
	.media-body {
		.heading {

		}
		p {
		}
	}
} 



//### .block-18 
.block-18 {
	.icon, .text {
	}
	.icon {
		> span {
			font-size: 40px;
		}
	}
	.text {
		strong {
			font-size: 30px;
		}
		span {
			display: block;
		}
	}
}


//PAGINATION
.block-27 {
	ul {
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-bottom: 4px;
			font-weight: 400;
			a,span {
				color: $primary;
				text-align: center;
				display: inline-block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 50%;
				border: 1px solid darken($primary,30%);
			}
			&.active {
				a, span {
					background: $primary;
					color: $white;
					border: 1px solid transparent;
				}
			}
		}
	}
}

.contact-section {
	.contact-info{
		p{
			a{
			}
			span{
				color: $white;
			}
		}
	}
}


.contact-form{
	.form-group{
		position: relative;	}
	.form-control {
		border: transparent !important;
		border-bottom: 1px solid rgba(255,255,255,.08) !important;
		height: 58px!important;
		padding-left: 0;
		padding-right: 0; 
		background: transparent!important;
		color: rgba(255,255,255,.9) !important;
		font-size: 13px;
		border-radius: 0px;
		box-shadow: 3px;!important;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgba(255,255,255,.9);
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  color: rgba(255,255,255,.9);
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  color: rgba(255,255,255,.9);
		}
		&:-moz-placeholder { /* Firefox 18- */
		  color: rgba(255,255,255,.9);
		}
		&:focus, &:active {
			border-color: $primary !important;
		}
	}
	textarea.form-control {
		height: inherit!important;
	}
}


.block-9 {

	.form-control {
		outline: none!important;
		box-shadow: 5px;!important;
		font-size: 15px;
	}
	#map {
	}
}


//### .block-21
.block-21 {
	.blog-img{
		display: block;
		height: 80px;
		width: 80px;
	}
	.text {
		width: calc(100% - 100px);
		.heading {
			font-size: 16px;
			a {
				color: darken($white,20%);
				&:hover, &:active, &:focus {
					color: $primary;
				}
			}
		}
		.meta {
			> div {
				display: inline-block;
				font-size: 12px;
				margin-right: 5px;
				a {
					color: lighten($black, 50%);
				}
			}
		}
	}
}

.custom-pagination {
	width: 100%;
	text-align: center;
	display: inline-block;
	li {
		display: inline-block;
	}
	.prev, .next {
		a {
			font-size: 20px!important;
			line-height: 38px!important;
		}
	}
	li, .prev, .next {
		a {
			width: 40px;
			height: 40px;
			line-height: 40px;
			padding: 0;
			margin: 0;
			border-radius: 50%!important;
			font-size: 16px;
		}
		&.active {
			a {
				display: block;
				width: 40px;
				height: 40px;
				line-height: 40px;
				padding: 0;
				margin: 0;
				border-radius: 50%!important;
				font-size: 16px;
				background: $primary;
				color: $white;
				&:hover, &:focus {
					color: $white;
				}
			}	
		}
	}
	.prev {
		float: left;
	}
	.next {
		float: right;
	}
}

/* Blog*/
.post-info {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: $white;
	letter-spacing: .1em;
	> div {
		display: inline-block;

		.seperator {
			display: inline-block;
			margin: 0 10px;
			opacity: .5;
		}
	}
}

.tagcloud {
	a {
		text-transform: uppercase;
		display: inline-block;
		padding: 4px 10px;
		margin-bottom: 7px;
		margin-right: 4px;
		border-radius: 4px;
		color: darken($white,30%);
		border: 1px solid darken($primary,30%);
		font-size :11px;
		&:hover {
			border: 1px solid #000;
		}
	}
}

.comment-form-wrap {
	clear: both;
}

.comment-list {
	padding: 0;
	margin: 0;
	.children {
		padding: 50px 0 0 40px;
		margin: 0;
		float: left;
		width: 100%;
	}
	li {
		padding: 0;
		margin: 0 0 30px 0;
		float: left;
		width: 100%;
		clear: both;
		list-style: none;
		.vcard {
			width: 80px;
			float: left;
			img {
				width: 50px;
				border-radius: 50%;
			}
		}
		.comment-body {
			float: right;
			width: calc(100% - 80px);
			h3 {
				font-size: 20px;
			}
			.meta {
				text-transform: uppercase;
				font-size: 13px;
				letter-spacing: .1em;
				color: #ccc;
			}
			.reply {
				padding: 5px 10px;
				background: lighten($black,8%);
				color: $white;
				text-transform: uppercase;
				font-size: 11px;
				letter-spacing: .1em;
				font-weight: 400;
				border-radius: 4px;
				&:hover {
					color: $white;
					background: lighten($black, 0%);
				}
			}
		}
	}
}

.search-form {
	.form-group {
		position: relative;
		input {
			font-size: 14px;
			padding-right: 50px;
			background: transparent !important;
			border: none;
			border-bottom: 1px solid $primary;
			color: rgba(255,255,255,.7);
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: rgba(255,255,255,.7);
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: rgba(255,255,255,.7);
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: rgba(255,255,255,.7);
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: rgba(255,255,255,.7);
			}
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
	}
}


// sidebar

.sidebar-box {
	margin-bottom: 30px;
	padding: 25px;
	font-size: 15px;
	width: 100%;
	
	float: left;
	*:last-child {
		margin-bottom: 0;
	}
	h3 {
		font-size: 18px;
		margin-bottom: 15px;
	}
}

.categories, .sidelink {
	li {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
		list-style: none;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		a {
			display: block;
			color: darken($white,20%);
			span {
				position: absolute;
				right: 0;
				top: 0;
				color: #ccc;
			}
		}
		&.active {
			a {
				color: $black;
				font-style: italic;
			}
		}
	}
}



#ftco-loader {
	position: fixed;
	width:  96px;
	height: 96px;
	left:  50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
	border-radius:16px;
	opacity: 0; 
	visibility: hidden;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index:1000;
}

#ftco-loader.fullscreen {
	padding:  0;
	left:  0;
	top:  0;
	width:  100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}

#ftco-loader.show {
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#ftco-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left:  calc(50% - 24px);
  top:  calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}